.herobar {
  background-image: url('/images/banner_contact_us.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 150px;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='tel'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.search input {
  height: 30px;
  width: 200px;
}

.form_section h3 {
  padding-bottom: 15px;
}

/* media queries */

@media screen and (max-width: 768px) {
  .herobar {
    background-image: url('/images/banner_contact_us_pad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 150px;
  }
}
@media screen and (max-width: 414px) {
  .herobar {
    background-image: url('/images/banner_contact_us_mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 150px;
  }
  .herobar h1 {
    text-align: left;
    vertical-align: middle;
    line-height: 150px;
    color: #0a3641;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}
